<div style="border: 1px solid green; min-height: 200px; padding: 1rem;">
  <p>Timeout : {{ timeoutSec >= 0 ? timeoutSec : 'NONE' }}</p>
  <p>Parent Component</p>
  <button (click)="onTrigger()">Trigger Input Button</button>

  <div style="border: 1px solid red; padding: 0.4rem; margin-top: 1rem;">
    <p>Child Compomnent</p>
    <hello></hello>
  </div>
</div>

<div
  style="border: 1px solid green; min-height: 200px; padding: 1rem; margin: 1rem;"
>
  RxJs
  <hr />

  <button (click)="onAccountUpdate()" style="margin-right: 1rem;">
    Update account
  </button>
  <button (click)="onCouponsReload()" style="margin-right: 1rem;">
    Reload Coupons
  </button>
  <hr />

  <button (click)="onAccountUpdate2()" style="margin-right: 1rem;">
    account2
  </button>
  <button (click)="onCouponsReload2()" style="margin-right: 1rem;">
  Coupons2
</button>
  <textarea
    id="textOutput"
    style="height: 300px; overflow-y:scroll; width: 100%; resize: none;"
  ></textarea>
</div>
